.rodape p{
  float: right;
  margin-right: 30px;
}
.rodape h3{
  float: right;
  margin-right: 30px;
  color: white;
}
.rodape p{
  margin-left: 30px;
  color: white;
  float: left;
}
.rodape{
 
  height: 100px;
}
